ul.commentlist {
    list-style: none;
}

.ticketlist li {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr 2fr 2fr 1fr 1fr;
    grid-gap: 7px;
    margin-bottom: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.ticketlist .even {
    background: lightblue;
}

.ticketlist .listtitle {
    background: beige;
    text-align: center;
}
.comment.depth {
    margin-left: 15ch;
}

.comment {
    padding: 2ch;
    margin: 1em;
    box-shadow: 1px 1px 11px 0px;
}
.closedwarning {
    width: 90%;
    text-align: center;
    font-size: xxx-large;
    border: 3px dashed;
    padding: 1em 1ch;
    background: coral;
    margin: auto;
}
.header {
    font-size: xx-large;
    border: 1px solid;
    padding-left: 1ch;
    margin-bottom: 1em;
}
.header a{
    text-decoration: none;
}
.ticketform label {
    display: block;
    margin-top: 1em;
}

input[type="submit"] {
    margin-top: 2em;
    font-size: xx-large;
}
#sortshow.down span:first-child,
#openticketssortshow.down span:first-child,
#closedticketssortshow.down span:first-child  {
    display: none;
}

#sortshow.up span:last-child,
#openticketssortshow.up span:last-child,
#closedticketssortshow.up span:last-child {
    display: none;
}

#sortshow,
#openticketssortshow,
#closedticketssortshow {
    display: inline-block;
}
.clickable{
  cursor:pointer;
}
.ticketlist li.hide{
  display: none;
}
#tagfilter{
  position: absolute;
  display: none;
}
#tagfilter.open{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background:white;
  padding: 1ch;
  border:1px solid;
}

.clickable:hover {
    text-decoration: underline;
}
#tageditwrapper {
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#tageditwrapper .innerwrapper {
    background: aliceblue;
    width: 60ch;
    padding: 5ch;
    margin: auto;
    margin-top: 30%;
    box-shadow: 0 0 16px 2px;
}
#tageditwrapper.show{
  display: block;
}

.fileswrapper {
    font-size: xx-large;
    margin-bottom: 1em;
}

.fileswrapper a {
    display: block;
    margin-bottom: 0.3em;
    margin-left: 2ch;
}

.actiontools {
    border: 4px solid;
    padding: 1em;
}
.smallheader {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.userspan{
  text-align: right;
}

code {
    white-space: break-spaces;
    display: block;
    background: antiquewhite;
    padding-left: 1ch;
    padding-bottom: 0.6em;
}
.login form,
.userpage form {
    display: grid;
    grid-gap: 1em;
}
